<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Login page</title>
  <link rel="icon" type="image/png" href="images/favicon.png" sizes="128x128">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/signin.css" rel="stylesheet">
  <link href="/css/cover2.css" rel="stylesheet">

</head>
<body class="text-center">
<main class="form-signin">
  <form action="/login" method="post">
    <img class="mb-4" src="/images/java.png" alt="" width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Sing in</h1>
    <label for="inputEmail" class="visually-hidden">User name</label>
    <input type="text" class="form-control" placeholder="User name" name="username" required>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           name="password" required>
    <div class="checkbox mb-3">
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>

  </form>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
          <a class="nav-link" aria-current="page" href="/registration">Registrations</a>
        </nav>
      </div>
    </header>
    </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</main>

</body>
</html>
